@using System.Runtime.InteropServices.JavaScript
@using TabKeeper.Layout

@inject TranslateService translate

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ShellLayout)" />
    </Found>
    <NotFound>
        <PageTitle>@("general.not-found.title" | translate)</PageTitle>
        <LayoutView Layout="@typeof(ShellLayout)">
            <p role="alert">@("general.not-found.description" | translate)</p>
        </LayoutView>
    </NotFound>
</Router>
