@inherits RxViewBase<ProductViewModel>

<div class="card">
    <h2 class="pb-1 border-b">@ViewModel.Name @ViewModel.Price € <small>x @ViewModel.Quantity</small></h2>

    <div class="ms-auto flex items-center gap-4">
        <p class="me-auto">@ViewModel.Total € <small>x @ViewModel.Divisor U</small></p>
        <button class="btn btn-primary rounded-2xl" @onclick="() => ViewModel.Quantity -= 1" disabled="@(ViewModel.Quantity <= 1)">-</button>
        <button class="btn btn-primary rounded-2xl" @onclick="() => ViewModel.Quantity += 1">+</button>
        <button class="btn btn-primary rounded-2xl" @onclick="OnEditClicked">^</button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnEditClicked { get; set; }
}