@inherits ViewBase<ProductViewModel>

<div class="border rounded-lg bg-gray-100 overflow-clip">
    <div class="p-4">
        <p>@ViewModel.Name</p>
        <p>Price: @ViewModel.Price</p>
        <p>Quantity: @ViewModel.Quantity</p>
        <p>Total: @ViewModel.Total <small>(@ViewModel.Price x @ViewModel.Quantity)</small></p>
    </div>

    <div class="bg-primary-400 px-4">
        @if (ViewModel.Divisor < 1)
        {
            <span>0</span>
        }
        else 
        {
            <span>@(ViewModel.Total) = @(ViewModel.Total / 1) * @(ViewModel.Divisor)</span>
        }
    </div>
</div>

@code {
}
